<!DOCTYPE html>
<html ng-app="Home" ng-controller="HomeMain">
<head>
    <base href="/">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Pagon Tracking Software will help you in effective managment of your fleet.">
    <meta name="keywords" content="Pagon Technologies Pvt Ltd,Pagon Vehicle Tracking,VTS,Vehicle Tracking,Bus Tracking,Tracking software,vts,sbt">
    <title>Pagon | Tracking Solutions</title>

    <link rel="icon" href="./favicon.ico"/>

    <link href="/libs/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link href="//fonts.googleapis.com/css?family=Slabo+27px|Material+Icons|Lobster+Two|Aref+Ruqaa|Merriweather|PT+Serif|Roboto+Mono|Cardo|Courgette|Patua+One" rel="stylesheet"> -->
    <link href="/libs/scDateTime/datetime.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/libs/scDateTime/sc-date-time.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/libs/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/libs/Odometer/odometer-theme-car.css" type="text/css" rel="stylesheet" media="screen,porjection">
    <link href="/libs/speed/css/speedometer.css" type="text/css" rel="stylesheet" media="screen,porjection"> 

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.css"/>
 

    <link href="/css/homesa.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>
<body>
    <div class="preloader-div valign-wrapper main-preloaderDiv">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <header id="header" class="page-topbar" style="display:none">
        <div class="navbar-fixed">
            <nav class="indigo darken-4">
                <div class="nav-wrapper">                     
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img src="./images/logo-title.png" alt="Pagon logo"></a><span class="logo-text">Pagon</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Search Page"/>
                    </div>
                    <ul class="right hide-on-med-and-down">                        
                        <li><a class="waves-effect waves-block account-icon waves-light"><i class="mdi-action-account-circle"></i></a>
                        </li>                        
                        <li><a data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-social-notifications"><span class="count-badge">4</span></i></a>
                        </li>
                        <li><a id="logout_button" ng-click="logout()" class="waves-effect waves-block waves-light"><i class="mdi-hardware-keyboard-tab"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="main" style="display:none">
        <div id="subPreloaderModel" class="modal">
            <div class="modal-area">
                <div class="preloader-div sub-preloader-div valign-wrapper">
                    <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loadingText">
                    <span class="loadingSpan">Loading..</span>
                </div>
            </div>
        </div>
        
        <div class="wrapper">
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed z-depth-3 leftside-navigation">
                    <li class="user-details indigo darken-4">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="./images/dudp.jpg" id="userProfileImage" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" data-activates="profile-dropdown"><i class="mdi-navigation-arrow-drop-down right"></i>{{username}}</a>
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="profile"><i class="mdi-action-account-circle"></i>Profile</a>
                                    </li>
                                    <li><a ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i>Logout</a>
                                    </li>
                                </ul>
                                <p class="user-roal">{{userRoal}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="no-padding" ng-if="userType || adminType || companyType">
	                    <ul class="collapsible" data-collapsible="accordian">
		                    <li class="nav-li bold tracking-li">
		                    	<a id="tracking" class="collapsible-header waves-effect waves-cyan"><i class="mdi-maps-place"></i>Tracking</a>
		                        <div class="collapsible-body" style="display:none">
		                            <ul>
		                                <li class="nav-li live-li active" ng-if="userType || adminType || companyType"><a href="live" id="liveTracking"><i class="mdi-maps-my-location"></i>Live</a>
		                                </li>
		                                <li class="nav-li history-li" ng-if="adminType || companyType"><a id="historyTracking" href="history"><i class="mdi-action-history"></i>History</a>
		                                </li>
		                                <li class="nav-li Replay-li" ng-if="adminType || companyType"><a id="replayTracking" href="replay"><i class="mdi-av-videocam"></i>Playback</a>
		                                </li
		                            </ul>
		                        </div>
		                    </li>
		                </ul>
		            </li>
                    <li class="no-padding" ng-if="adminType || companyType">
	                    <ul class="collapsible" data-collapsible="accordian">
		                    <li class="nav-li bold create-li">
		                    	<a id="create" class="collapsible-header waves-effect waves-cyan"><i class="mdi-content-add"></i>Create</a>
		                        <div class="collapsible-body" style="display:none">
		                            <ul>
		                                <li class="nav-li vehicles-li bold" ng-if="adminType || companyType || userType">
                                            <a id="vehicles" href="vehicles" class="waves-effect waves-cyan">
                                                <i class="mdi-maps-local-shipping"></i>Vehicles
                                            </a>
                                        </li>
                                        <!-- <li class="nav-li drivers-li bold" ng-if="adminType || companyType || userType">
                                            <a id="drivers" href="drivers" class="waves-effect waves-cyan">
                                                <i class="mdi-action-assignment-ind"></i>Drivers
                                            </a>
                                        </li>
                                        <li class="nav-li fences-li bold" ng-if="adminType || companyType || userType">
                                            <a id="fences" href="fences" class="waves-effect waves-cyan">
                                                <i class="mdi-image-panorama-fisheye"></i>Geo Fences
                                            </a>
                                        </li>
                                        <li class="nav-li places-li bold" ng-if="adminType || companyType || userType">
                                            <a id="places" href="points" class="waves-effect waves-cyan">
                                                <i class="mdi-maps-pin-drop"></i>Places
                                            </a>
                                        </li>
                                        <li class="nav-li users-li bold" ng-if="adminType || companyType || userType">
                                            <a id="users" href="users" class="waves-effect waves-cyan">
                                                <i class="mdi-social-people"></i>Users
                                            </a>
                                        </li> -->
                                        <li class="nav-li customers-li bold" ng-if="adminType || companyType ">
                                            <a id="customers" href="customers" class="waves-effect waves-cyan">
                                                <i class="fa fa-university"></i>Clients
                                            </a>
                                        </li>
		                            </ul>
		                        </div>
		                    </li>
		                </ul>
		            </li>
                    <li class="no-padding" ng-if="adminType || companyType">
	                    <ul class="collapsible" data-collapsible="accordian">
		                    <li class="nav-li bold reports-li">
		                    	<a id="reprots" class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i>Reports</a>
		                        <div class="collapsible-body" style="display:none">
		                            <ul>
		                                <li class="nav-li dayreport-li" ng-if="adminType || companyType || userType"><a id="dailyReports" href="/reports/general" class="waves-effect waves-cyan">General Day Report</a>
		                                </li>
		                                <li class="nav-li detaildayreport-li" ng-if="adminType || companyType || userType"><a id="detailDetailReports" href="/reports/detail" class="waves-effect waves-cyan" >Detailed Day Report</a>
		                                </li>
		                                <li class="nav-li stoppagereport-li" ng-if="adminType || companyType || userType" ><a id="stoppageReports" href="reports/stoppage" class="waves-effect waves-cyan">Stoppage Report</a>
		                                </li>
		                                <!-- <li class="nav-li overspeedreport-li" ng-if="adminType || companyType || userType"><a id="overSpeedReports" href="/reports/overspeed" class="waves-effect waves-cyan">Over Speed Report</a>
		                                </li>
                                        <li class="nav-li geofencereports-li" ng-if="adminType || companyType || userType"><a id="geoFenceReports" href="/reports/geofence" class="waves-effect waves-cyan">Geofence Report</a>
                                        </li> -->
                                        <li class="nav-li distancereports-li" ng-if="adminType || companyType || userType"><a id="distanceReports" href="/reports/distance" class="waves-effect waves-cyan">Distance Report</a>
                                        </li>
		                            </ul>
		                        </div>
		                    </li>
		                </ul>
                    </li>
                    <li class="nav-li settings-li bold" ng-if="adminType || companyType ">
                        <a id="settings" href="/settings" class="waves-effect waves-cyan">
                            <i class="fa fa-pencil"></i>Settings
                        </a>
                    </li>
                    <li class="li-hover"><div class="divider"></div></li>
                    <li class="li-hover"><p class="ultra-small margin more-text">PAGON</p></li>
                    <li><a href="http://www.pagon.in" target="_blank"><i class="mdi-action-info"></i>About</a>
                    </li>
                    <li><a href="help"><i class="mdi-action-help"></i>Help</a>
                    </li>
                    <li><a href="reportBug"><i class="mdi-action-bug-report"></i>Report Bug</a>
                    </li>
                    <li><a href="https://play.google.com/store/apps/details?id=apps.curvecube.vts" target="_blank"><i class="mdi-file-cloud-download"></i>Download App</a>
                    </li>
				</ul>
                <a data-activates="slide-out" class="sidebar-collapse button-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only indigo darken-4"><i class="mdi-navigation-menu"></i></a>
            </aside>

            <div class="container">
                <div ng-view class="page-content">
                    
                
                </div>
                <div class="toastWithPreloader" ng-show="showPreloaderToast">
                    <div class="preloader-div valign-wrapper toast-preloaderDiv" ng-show="showPreloaderInPreloaderToast">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toastText">
                        <span class="toastTextSpan">{{preloaderToastText}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer" style="display:none">
        <div class="footer-copyright indigo darken-4">
            <div class="container">
                Copyright 2015 <a class="grey-text text-lighten-4" href="http://www.pagon.in" target="_blank">Pagon</a> All rights reserved.
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://pagon.in/">Pagon</a></span>
            </div>
        </div>
    </footer>


    
     <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="./libs/jquery/jquery-3.1.1.min.js"></script> 
    <script type="text/javascript" src="/js/js.cookie.js"></script>
    <!-- Materialize Library-->
    <script type="text/javascript" src="/libs/materialize/js/materialize.js"></script>

    <!-- Angular Library -->
    <script src="/libs/angularjs/angular.min.js"></script>
    <script src="/libs/angularjs/angular-animate.js"></script>
    <script src="/libs/angularjs/angular-cookies.min.js"></script>
    <script src="/libs/angularjs/angular-route.min.js"></script>
    <script src="/libs/angularjs/angular-touch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.3/angular-strap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.2/angular-strap.tpl.min.js"></script>
    <script src="/libs/ng-file-upload.js"></script>
    <!-- angular libraries end-->

    <script src="./libs/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
    <script src="./libs/jqueryformmater/dist/jquery.formatter.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/u/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.js"></script>
    <script type="text/javascript" src="/libs/scDateTime/sc-date-time.js"></script>
    

    <script type="text/ecmascript" src="/libs/Odometer/odometer.js"></script>
    <script type="text/ecmascript" src="/libs/speed/js/speedometer.js"></script>

    
    <!-- google maps libraries -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiAkJ4U2QTF0XFCPp7cqiKSNGGbt__0HU"></script>
    <script type="text/javascript" src="/libs/map/epoly.js"></script>
    <script type="text/javascript" src="/libs/map/ELabel.js"></script>
    <script type="text/javascript" src="/libs/map/SlidingMarker.min.js"></script>
    <script type="text/javascript" src="/libs/map/markerAnimate.js"></script>
    <script type="text/javascript" src="/libs/map/InfoBox.js"></script>
    <script type="text/javascript" src="/libs/map/MarkerWithLabel.js"></script>
    <script type="text/javascript" src="/libs/map/MarkerCluster.js"></script>


    <script type="text/javascript" src="/libs/Chart/Chart.js"></script>
    <script type="text/javascript" src="/libs/Chart/Hammer.min.js"></script>
    <script type="text/javascript" src="/libs/Chart/Hammer-time.min.js"></script>
    <script type="text/javascript" src="/libs/Chart/Chart.Zoom.js"></script>
    <script type="text/javascript" src="/libs/jquery.ajaxfileupload.js"></script>
    <script type="text/javascript" src="/libs/table2CSV.js"></script>
    <script type="text/javascript" src="/libs/momemntjs/moment.js"></script>
    <script type="text/javascript" src="/libs/re-tree.min.js"></script>
    <script type="text/javascript" src="/libs/ng-device-detector.min.js"></script>

    <!--custome Script-->
    <script type="text/javascript" src="/js/userhome.js"></script>
    <script type="text/javascript" src="/libs/scDateTime/bootstrap.js"></script>
    <script type="text/javascript" src="/modules/Dashboard/dashboard.js"></script>
    <script type="text/ecmascript" src="/js/configurations.js"></script>
    <script type="text/ecmascript" src="/modules/Create/create.js"></script>
    <script type="text/javascript" src="/modules/Replay/replay.js"></script>
    <script type="text/javascript" src="/modules/History/history.js"></script> 
    <script type="text/javascript" src="/modules/Reports/reports.js"></script>
    <script type="text/javascript" src="/modules/Profile/profile.js"></script>
    <script type="text/javascript" src="/modules/Settings/settings.js"></script>
</body>
</html>