
<link href="/modules/History/history.css" type="text/css" rel="stylesheet" media="screen,projection">
<div id="History" class="History">
    <div class="row users-select">
        <div class="input-field user-select-div">
            <select class="usertype-select" id="userTypeSelect" id="userTypeSelect" ng-model="selectedCustomer" ng-options="customer as customer.vtsUsers.name for customer in customers track by customer.userId" ng-change="customerChanged(selectedCustomer)" ng-if="userDetails.userType!='USER'">
            </select>
        </div>
    </div>
    <div class="history-filter filter-div">
        <div class="filter-card">
            <div class="card">
                <div class=" row filter-row">
                    <div class="col s12 m4 l3 fromDateCol dateCol" ng-focus="inputFocused()">
                        <div class="from-date"  ng-controller="testCtrl">
                            <label for="fromDate" active class="active">From date</label>
                            <input class="form-control" type='text' class="fromDate" id="fromDate" ng-model='fromDate' placeholder="Select from date" date-time-picker-dropdown readonly="readonly"  display-mode="date-time" display-format='d/MM/yyyy HH:mm' ng-focus="inputFocused()"/>
                            <div class="errorName errorNameFromDate">
                                <div id="FromDate-error"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 toDateCol dateCol" ng-focus="inputFocused()">
                        <div class="from-date"  ng-controller="testCtrl">
                            <label for="toDate" active class="active">To date</label>
                            <input class="form-control" type='text' class="toDate" id="toDate" ng-model='toDate' placeholder="Select to date" date-time-picker-dropdown readonly="readonly"  display-mode="date-time" display-format='d/MM/yyyy HH:mm' ng-focus="inputFocused()"/>
                            <div class="errorName errorNameToDate">
                                <div id="ToDate-error"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 vehicleSelect">
                        <div class="input-field  vehicle-select-div">
                               <label for="vehicle_number" id="vehicleNumberLabel" class="active">Select Vehicle</label>
                               <select class="vehicle-select" id="replayVehicleNumberSelect" ng-model="selectedVehicle" ng-options="vehicle as vehicle.deviceName for vehicle in vehicles track by vehicle.deviceId" ng-change="vehicleChanged()">
                               </select>
                         </div>
                    </div>
                    <div class="col s12 m4 l3 button-col">
                        <div class="submit-button">
                            <a class="waves-light white-text teal filter-submit-button darken-2 btn"  ng-click="submitHistory()"><i class="mdi-content-send right" ></i>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="HistoryTable">
        <div class="row">
            <div class="col s12">
                <div class="table z-depth-1">
                    <table id="history-table" class="highlight responsive-table centered" style="width:100%">
                        <thead>
                            <tr>
                                <th data-field="Sno">S.No</th>
                                <th data-field="vehicle_number">vehicle Number</th>
                                <th data-field="start_time">Start Time</th>
                                <th data-field="start_location">Start Location</th>
                                <th data-field="maximum_speed">Maximum Speed(Km/Hr)</th>
                                <th data-field="average_sapeed">Average Speed(Km/Hr)</th>
                                <th data-field="distance_covered">Distance Covered(Km)</th>
                                <th data-field="number_of_stops">Number Of Stops</th>
                                <th data-field="end_location">End Location</th>
                                <th data-field="end_time">End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="header-row">
                                <th data-field="Sno">S.No</th>
                                <th data-field="vehicle_number">vehicle Number</th>
                                <th data-field="start_time">Start Time</th>
                                <th data-field="start_location">Start Location</th>
                                <th data-field="maximum_speed">Maximum Speed(Km/Hr)</th>
                                <th data-field="average_sapeed">Average Speed(Km/Hr)</th>
                                <th data-field="distance_covered">Distance Covered(Km)</th>
                                <th data-field="number_of_stops">Number Of Stops</th>
                                <th data-field="end_location">End Location</th>
                                <th data-field="end_time">End Time</th>
                            </tr>
                            <tr class="data-row">
                                <th data-field="Sno">1</th>
                                <th data-field="vehicle_number">{{selectedVehicle.deviceName}}</th>
                                <th data-field="start_time">{{selectedVehicle.history.startTime}}</th>
                                <th data-field="start_location">{{selectedVehicle.history.startLocation}}</th>
                                <th data-field="maximum_speed">{{selectedVehicle.history.maximumSpeed}}</th>
                                <th data-field="average_sapeed">{{selectedVehicle.history.averageSpeed}}</th>
                                <th data-field="distance_covered">{{selectedVehicle.history.distanceCovered}}</th>
                                <th data-field="number_of_stops">{{selectedVehicle.history.numberOfStops}}</th>
                                <th data-field="end_location">{{selectedVehicle.history.endLocation}}</th>
                                <th data-field="end_time">{{selectedVehicle.history.endTime}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row historyVehicle-map">
          <div class="col s12 " style="height:800px">
              <div class= "card" id="HistoryMap"></div>
          </div>
    </div>
</div>