<link href="./modules/Create/create.css" type="text/css" rel="stylesheet" media="screen,projection">
<div class="NotUsers top-id-div" id="NotUsers">
    <div class="notusers-main main-div">
        <div class="row users-select">
            <div class="input-field user-select-div">
                <select class="usertype-select" id="userTypeSelect" id="userTypeSelect" ng-model="selectedCustomer" ng-options="customer as customer.vtsUsers.name for customer in customers track by customer.userId" ng-change="customerChanged(selectedCustomer)" ng-if="userDetails.userType!='USER'">
                </select>
            </div>
        </div>
        <div class="row notusers-row">
            <div class="col s6 m4 l3 drivers-col" ng-repeat="notuser in notusers track by notuser.notUserId">
                <div class="card hoverable notusers-card object-card" >   
                    <div class="deleteDiv">
                        <div class="deletButton">
                            <a class="btn-floating btn waves-effect waves-light red button-link delete-notuser-button" ng-click="deleteUser(notuser.notUserId)">
                                <i class="mdi-action-delete"></i>
                            </a>
                        </div>
                    </div>
                    <div class="cardContents" ng-click="editUser(notuser)">
                        <div class="card-title-div">
                            <span class="notuser_name">{{notuser.name}}</span>
                        </div>
                        <div class="driver-details-div">
                            <div class="card-content-div">
                                <div class="notuserNumber"><span class="notuserNumberValue">{{notuser.mobileNumber}}</span></div>
                                <div class="notuserEmail"><span class="notuserEmailValue">{{notuser.emailId}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="fixed-action-btn fab-new-notuser" style="bottom: 45px; right: 45px;">
        <a class="btn-floating btn-large waves-effect waves-light red button-link add-button" ng-click="addUser()">
            <i class="large mdi-content-add"></i>
        </a>
    </div>

    <div id="createUserModel" class="modal create-modal" ng-controller="createUserCtr">
        <div class="model-content">
            <div class="modalHeader row z-depth-1">
                <div class="col s12">
                    <div class="HeaderText">
                        <span class="modal-image"><i class="mdi-action-account-balance-wallet modal-image-i white-text left"></i></span>
                        <span class="modal-text">Create user</span>
                        <span class="close-image"><i class="mdi-content-clear close-i white-text" ng-click="closeModel()"></i></span>
                    </div>
                </div>
            </div>
            <div class="row modalContentRow">
                <div class="col modalContentCol s12">
                    <div class="userDetails details">
                        <div class="row customer-select-row" ng-if="userDetails.userType!='USER'">
                            <div class="input-field customer-select-div">
                                <label for="customerSelect" class="active">Customer</label>
                                <select class="customer-select" id="customerSelect" id="customerSelect" ng-model="newUser.selectUser" ng-options="customer as customer.vtsUsers.name for customer in customers track by customer.userId">
                                </select>
                            </div>
                        </div>
                        <div class="row driver-name-details">
                            <div class="input-field col s12">
                                <input id="UserName" type="text" class="validate" ng-model="newUser.name"  ng-focus="inputFocused()">
                                <label for="UserName">Name*</label>
                                <div class="errorName errorNameUserName">
                                    <div id="UserName-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row driver-phone-details">
                            <div class="input-field col s12 m6">
                                <input id="UserNumber" type="text" class="validate" ng-model="newUser.mobileNumber"  ng-focus="inputFocused()">
                                <label for="UserNumber">Mobile number*</label>
                                <div class="errorName errorNameUserNumber">
                                    <div id="UserNumber-error"></div>
                                </div>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="UserEmail" type="text" class="validate" ng-model="newUser.emailId"  ng-focus="inputFocused()">
                                <label for="UserEmail">Email id*</label>
                                <div class="errorName errorNameUserEmail">
                                    <div id="UserEmail-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footerRow">
                <div class="FooterButtons">
                    <a class="waves-effect waves-light btn-raised btn sendbutton" ng-click="saveUser()">SAVE</a>
                </div>
            </div>
        </div>
    </div>

    <div id="editUserModel" class="modal create-modal" ng-controller="editUserCtr">
        <div class="model-content">
            <div class="modalHeader row z-depth-1">
                <div class="col s12">
                    <div class="HeaderText">
                        <span class="modal-image"><i class="mdi-action-account-balance-wallet modal-image-i white-text left"></i></span>
                        <span class="modal-text">Edit user</span>
                        <span class="close-image"><i class="mdi-content-clear close-i white-text" ng-click="closeModel()"></i></span>
                    </div>
                </div>
            </div>
            <div class="row modalContentRow">
                <div class="col modalContentCol s12">
                    <div class="userDetails details">
                        <div class="row customer-select-row" ng-if="userDetails.userType!='USER'">
                            <div class="input-field customer-select-div">
                                <label for="editCustomerSelect" class="active">Customer</label>
                                <select class="customer-select" id="editCustomerSelect" id="editCustomerSelect" ng-model="openedUser.selectUser" ng-options="customer as customer.vtsUsers.name for customer in customers track by customer.userId">
                                </select>
                            </div>
                        </div>
                        <div class="row driver-name-details">
                            <div class="input-field col s12">
                                <input id="EditUserName" type="text" class="validate" ng-model="openedUser.name"  ng-focus="inputFocused()">
                                <label for="EditUserName">Name*</label>
                                <div class="errorName errorNameEditUserName">
                                    <div id="EditUserName-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row driver-phone-details">
                            <div class="input-field col s12 m6">
                                <input id="EditUserNumber" type="text" class="validate" ng-model="openedUser.mobileNumber"  ng-focus="inputFocused()">
                                <label for="EditUserNumber">Mobile number*</label>
                                <div class="errorName errorNameEditUserNumber">
                                    <div id="EditUserNumber-error"></div>
                                </div>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="EditUserEmail" type="text" class="validate" ng-model="openedUser.emailId"  ng-focus="inputFocused()">
                                <label for="EditUserEmail">Email id*</label>
                                <div class="errorName errorNameEditUserEmail">
                                    <div id="EditUserEmail-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footerRow">
                <div class="FooterButtons">
                    <a class="waves-effect waves-light btn-raised btn sendbutton" ng-if="!openedUser.editClicked" ng-click="editUser()">EDIT</a>
                    <a class="waves-effect waves-light btn-raised btn sendbutton" ng-if="openedUser.editClicked"  ng-click="saveUser()">SAVE</a>
                </div>
            </div>
        </div>
    </div>

    <div id="ConfirmationModel" class="ConfirmationModel modal">
        <div class="model-content">
            <div class="row content">
                <div class="col s12">
                    <div class="row confirmmessage">
                        <div class="col s12">
                           <span class="deleteText">This action will delete the class permanently ?</span>
                        </div>
                    </div>
                    <div class="row yesnorow">
                        <div class="col s12">
                            <div class="yesnoRow">
                                <a class="waves-effect waves-teal btn-flat ConfirmButton" ng-click="deleteClass()">DELETE</a>
                                <a class="waves-effect waves-grey btn-flat cancelButton" ng-click="confirmCancel()">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>